<h1>Post#new_post_email</h1>

<p>
  <%= @greeting %>, find me in app/views/post_mailer/new_post_email.html.erb
</p>

<!DOCTYPE html>
<html>
<head>
  <title>Produk Baru</title>
</head>
<body>
  <h1>Produk Baru Tersedia!</h1>
  <p>Selamat, ada produk baru yang tersedia di aplikasi kami.</p>
  <p>Silakan kunjungi situs kami untuk melihat detailnya.</p>
</body>
</html>

