<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
  <h1>Notifikasi Produk Baru</h1>
  <p>Dear pengguna,</p>
  <p>Ada produk baru yang tersedia: <%= @product_name %></p>
  <p>Terima kasih telah menggunakan aplikasi kami!</p>
</body>
</html>
